extends ../layout

block content
  form(method="post" action="/wizard/1")
    div.container-fluid.page.wizard
      div.row
        div.col-sm-4.col-sm-offset-4.text-center
          h1 first, some basic info
      div.row
        div.col-sm-4.col-sm-offset-4.text-center 
          p url slug - this will be used as the url to your capsule <br>
            input(type="text" name="slug" placeholder="ex: sowedding")
      div.row
        div.col-sm-4.col-sm-offset-4.text-center 
          p what #hashtag to look for? <br>
            input(type="text" name="tag" placeholder="ex: karenkentwedding2016")
      div.row
        div.col-sm-4.col-sm-offset-4.text-center
          button(type="submit") next - sign in with facebook
