extends ../layout

block content
  div.container-fluid.page.wizard
    div.row
      div.col-sm-4.col-sm-offset-4.text-center instagram success!
    div.row
      div.col-sm-4.col-sm-offset-4.text-center
        p you're all good to go!
        pre=json
