extends layout

block content
  h1= title
  ul
    li
      a(href="/logout") logout
    li
      a(href="/auth/facebook") login with facebook
    li
      a(href="/auth/instagram") login with instagram
