extends layout

block css
  link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', href='/css/style.css')

block script
  script(src='/vendor/lodash/dist/lodash.min.js')
  script(src='/vendor/jquery/dist/jquery.min.js')
  script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
  script(src='/js/vcarousel.js')
  script(src='/js/main.js')
  script.
    window.tag = '#{album.tag}';
block content
  div#page-wrapper
    div#carousel.carousel.slide.carousel-fade
      img.background(src="")
      div.carousel-inner(role='listbox')
        div.item.active
        div.item
        div.item
        div.item
        div.item
    //- a#prev.left.carousel-control(role='button')
    //-   span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
    //-   span.sr-only Previous
    //- a#next.right.carousel-control(role='button')
    //-   span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
    //-   span.sr-only Next
