extends layout

block content
  div.container-fluid.page.home
    div.row
      div.col-sm-2.col-sm-offset-5.text-center
        h1 capsulati
    div.row
      div.col-sm-2.col-sm-offset-5.text-center
        a(href="/wizard") get started
