doctype html
html
  head
    title capsulati
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.css')
    link(rel='stylesheet', href='/css/style.css')
    block css
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.js')
    script(src='/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js')
    script(src='/vendor/moment/moment.js')
    script(src='/vendor/moment-timezone/builds/moment-timezone-with-data-2010-2020.js')
    block script
  body
    block content
